-B
-q
--no-transfer-progress
-Dorg.slf4j.simpleLogger.defaultLogLevel=ERROR
-Dmaven.wagon.httpconnectionManager.ttlSeconds=60
-Dmaven.wagon.http.retryHandler.requestSentEnabled=true
-Dmaven.wagon.http.retryHandler.count=2
-Dmaven.wagon.http.connectionTimeout=30000
-Dmaven.wagon.http.readTimeout=60000
-Dmaven.resolver.transport=wagon
-Dmaven.artifact.threads=8
-T 1C
